# Python
venv/
backend/venv/
__pycache__/
*.py[cod]

# Environment files
.env
.env.local

# Node
node_modules/
frontend/node_modules/

# Frontend build
dist/
frontend/dist/
build/
frontend/build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# PowerPoint
*.pptx

backend/maritime.db